/Task0/CodeDario/*.npy
/Task0/.vs*
\.vscode/

Task0/CodeFabrice/__pycache__/
Task0/CodeDario/__pycache__/

Task1a/CodeFabrice/__pycache__/

Task1b/CodeFabrice/__pycache__/

Task2/CodeFabrice/__pycache__/

Task3/CodeFabrice/__pycache__/
Task3/CodeDario/__pycache__/
Task3/CodeDario/Models/
Task3/CodeDario/Selfeval_Results/

Task4/CodeFabrice/__pycache__/
Task4/CodeDario/__pycache__/
Task4/CodeDario/Models/
Task4/CodeDario/Selfeval_Results/
Task4/CodeDario/All_labeled_data/
